.section-intro {
    padding: 12rem 0 0 0;
    position: relative;
    z-index: 10;
}

.section-news{
    padding: 10rem 0 0rem 0;
    position: relative;
}

.section-about{
    padding: 10rem 0 0 0;
}