.section-new{
    text-align: center;
    padding: 10rem 0 0 0;
    
    @include respond(tab-port) { // width < 900?
        padding: 15rem 0 0 0;
    }
}

.new{
    text-align: center;

    &__image{
        width: 100%;
        &--holder{

        }
    }

    
        
    &__title{
        font-size: 4rem;
        color: $color-white;
        text-transform: uppercase;
        font-weight: 800;
    }


    &__subtitle{
        font-size: 2rem;
        color: $color-white;
        text-transform: uppercase;
    }

    &__description{

        &--holder{
            color: $color-white;
            font-size: 1.3rem;

            width: 80%;
            margin: 0 auto;
            p {
                font-size: 1.4rem;
                color: $color-white;
                span {
                    font-size: 1.4rem;
                    color: $color-white;
                }
            }
        }
    }
    
    &__share{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-end;

        &__buttons{
            margin-right: 1rem;
        }
    }
    
    &__navigation{
        display: flex;
        align-items: center;
        justify-content: center;
        &--title{
            display: flex !important;
            align-items: center;
            text-align: center;
            justify-content: center;
            font-size: 2rem !important;
        }

        &--icon_blue{
            font-size: 4rem;
            margin-left: 1rem;   
            color: $color-primary-blue;
        }

        &--icon_pink{
            font-size: 4rem;
            margin-right: 1rem;   
            color: $color-primary-pink;
        }
    }
}