.section-press{
    text-align: center;
    padding: 0 0 15rem 0;
    @include respond(tab-port) { // width < 900?
    padding: 5rem;
    }
}

.press__contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    @include respond(tab-port) { // width < 900?
        flex-direction: column;
    }
}