.feedback {
  color: rgba(0,0,0,.4);
  font-size: .8em;
  padding: 0 .25em;
  margin-top: 1em;
}

#password-strength-text {
  margin-top: -5px;
  margin-bottom: 1em;
}

#feedback-bubble {
  margin-top: 20px;
  position: relative;
  width: 100%;
  padding: 0;
  background: #fff;
  padding: .5em .7em;
  border-bottom: #0096fa solid .2em;
  font-size: 1em;
}

#feedback-bubble:after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 0 15px 15px;
  border-color: #fff transparent;
  display: block;
  width: 0;
  z-index: 1;
  margin-left: -15px;
  top: -15px;
  left: 15%;
}

.passtrengthMeter .showPassword {
  top: 7px !important;
  z-index: 10;
}

.padding0 {
  padding: 0 !important;
}

.fa-eye,
.fa-eye-slash {
  position: absolute;
  right: 10px;
  z-index: 10;
  top: 10px;
  font-size: 15px;
}

.box-body .width100 {
  width: 100%;
}

.box-body table tbody tr .text-center {
  font-size: 14px;
}

.box-body table tbody tr td .fa-level-down {
  color: #337ab7;
}

.box-body table tbody tr td .right0 {
  position: absolute;
  right: 30px;
}

.box-body table tbody tr td .expand {
  margin-top: 15px;
}

.box-body table tbody tr td .expand .card-body a .red-square {
  background-color: #dd4b39;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  border-radius: 3px;
  box-shadow: none;
  border-color: #d73925;
}

.box-body table tbody tr td .expand .card-body a .red-square:hover {
  background: #d73925;
}

.scroll {
  overflow-y: scroll;
  height: 500px;
}

.blue-square {
  background-color: #337ab7;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 1.42857143 !important;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  border-radius: 3px;
  box-shadow: none;
  border-color: #337ab7;
}

.blue-square:hover {
  background: #367fa9;
}

.hidden {
  display: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.welcome-message {
  text-align: center;
}

.welcome-message h1 {
  font-weight: 800;
}

.welcome-message p {
  font-weight: 700;
}

.blk-btn {
  width: 460px;
  margin: 0 auto;
  display: block;
  line-height: 50px;
  border-radius: 5px;
  background: #2196F3;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.blk-btn:hover,
.blk-btn:focus {
  color: white;
  text-decoration: none;
  background: #1976D2;
}

.tab-form-wrap {
  background: #fff;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.25);
          box-shadow: 0 1px 2px rgba(0,0,0,0.25);
}

.tab-form-wrap .nav-tabs {
  border-bottom: 1px solid #e0e0e0;
  background: #2196f3;
  color: white;
}

.tab-form-wrap .nav-tabs li {
  width: 10%;
  height: 40px;
  line-height: 40px;
  color: #fafafa;
  overflow: hidden;
  margin: 0;
  border-right: 1px solid #e0e0e0;
  -webkit-transition: width .4s ease;
  transition: width .4s ease;
}

.tab-form-wrap .nav-tabs li:last-child {
  border-right: none;
}

.tab-form-wrap .nav-tabs li.active {
  width: 70%;
  background: white;
  color: black;
}

.tab-form-wrap .nav-tabs li a {
  border: none;
  background: none;
  font-size: 14px;
  line-height: 20px;
  height: 40px;
  overflow: hidden;
  border-radius: 0;
  margin: 0;
  text-align: center;
  color: inherit;
  float: left;
  width: 100%;
}

.tab-form-wrap .nav-tabs li a:hover,
.tab-form-wrap .nav-tabs li a:focus {
  border: none;
  background: none;
}

.tab-form-wrap .nav-tabs li a:hover,
.tab-form-wrap .nav-tabs li a:focus {
  color: inherit;
}

.tab-form-wrap .nav-tabs li.active a {
  text-align: left;
  width: auto;
  font-weight: bold;
  border-right: none;
}

.tab-form-wrap .tab-content {
  padding: 15px;
}

.tab-form-wrap .tab-content fieldset {
  border: 1px solid #e0e0e0;
  padding: 8px 8px 0 8px;
  border-radius: 5px;
  margin-bottom: 15px;
  cursor: text;
}

.tab-form-wrap .tab-content fieldset.focus {
  border-color: #2196F3;
}

.tab-form-wrap .tab-content fieldset>* {
  cursor: text;
}

.tab-form-wrap .tab-content fieldset.validation-error {
  border-color: #F44336;
}

.tab-form-wrap .tab-content fieldset.validation-error .input-label {
  color: #F44336;
}

.tab-form-wrap .tab-content fieldset .input-label {
  display: block;
  font-size: 11px;
  line-height: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.tab-form-wrap .tab-content fieldset .input-clear {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  line-height: 28px;
  border: none;
}

.error-span {
  display: block;
  color: red;
  font-size: 11px;
  line-height: 12px;
  font-weight: bold;
  text-transform: uppercase;
  font-style: italic;
  width: 100%;
}

.custom-dropdown {
  position: relative;
  vertical-align: middle;
  cursor: pointer !important;
}

.custom-dropdown select,
.custom-dropdown .input-label {
  cursor: pointer !important;
}

.custom-dropdown select {
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button;
}

.custom-dropdown::before {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}

.custom-dropdown::before {
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
  background-color: #e0e0e0;
}

.custom-dropdown::after {
  color: #9e9e9e;
}

