.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        font-size: 2.6rem;
        font-weight: 800;
        color: $color-white;
        //Change for the <button> element
        border: none;
        cursor: pointer;
        z-index: 20;
        position: relative;
        overflow: hidden;

        @include respond(tab-port) { // width < 900?
            z-index: 10;
        }
    }

    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        border-radius: 10rem;
        transition: all .2s ease-in-out;
        z-index: -1;
    }

    &--blue {
        border: 2px solid $color-primary-blue !important;

        &::after{
            background: $color-primary-blue !important;
        }
    }

    &--pink{
        border: 2px solid $color-primary-pink !important;

        &::after{
            background: $color-primary-pink;
        }
    }

    &--small{
        padding: 1.2rem 4rem !important;
        font-size: 1.2rem !important;
    }

    &--small__mobile{
        padding: 1.2rem 4rem !important;
        font-size: 1.2rem !important;
    }

    &--artist{
        color: $color-white;
        font-size: 3rem;
        padding: 0;
        text-transform: uppercase;
        font-weight: 800;
        font-style: italic;

        &--blue{
            &:hover{
                color: $color-primary-blue;
            }
        }

        &--pink{
            &:hover{
                color: $color-primary-pink;
            }
        }
    }


    &:hover{
        &::after{
            width: 100%;
        }
    }
}