.lineup__content{

}

.lineup__box{
    display: flex;
    flex-direction: column;
}

.lineup__day{

}

.lineup__artists{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}