.pagination{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    font-size: 2.6rem;
}



.page-item{
    color: $color-white;

    .page-link{
        padding: .6rem;
        color: $color-white;
        text-decoration: none;
        &:hover{
            color: $color-primary-blue;
            cursor: pointer;
        }
    }

}


.active{
    .page-link{
        color: $color-primary-pink;
    }
}
