.tickets__content{

}

.tickets__day{

}

.tickets__buttons{
    &-div{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        @include respond(tab-port) { // width < 900?
            flex-direction: column;
    
        }
    }

}

.tickets__style{
    width: 30%;
    margin-left: 1rem;
    font-size: 1.6rem !important;

    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    @include respond(tab-port) { // width < 900?
        width: 50%;
        margin-left: 0;
    }
}

.tickets__price{
    font-size: 3rem;
    margin-left: 1rem;
}

.tickets__image{
    height: 50px;
}