.youtube__video{
    position: relative;
}

.youtube__image{
    width: 100%;
}

.youtube__icon__holder{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.youtube__icon{
    color: red;
    font-size: 6rem;

    &:hover{
        opacity: 0.8;
        cursor: pointer;
    }
}