.section__politica{
    padding-bottom: 10rem;

}

.politica__paragraph{
    width: 50%;
    margin: 0 auto;
    color: $color-white;

    @include respond(tab-port) { // width < 900?
        width: 80%;

    }
}