.footer{

    &__partners{
        background-color: $color-white;
        
        .swiper-slide{
            text-align: center;
        }
    }

    &__content{
        height: 50rem;
        background-image: url('/img/footer-background.png');
        background-position: bottom;

            
        @include respond(tab-port) { // width < 900?
            background-image: url('/img/footer-background.jpg');
            background-size: cover;
        }
    }

    &__bottom{
        display: flex;
        flex-direction: row;
        padding: 5rem 0;
        justify-content: space-between;
        align-items: center;

        @include respond(tab-port) { // width < 900?
            flex-direction: column;
            text-align: center;
            padding: 0;
            margin-top: 1rem !important;
        }
    }
	
	&__cp{
		display: flex;
		flex-direction: row;
		margin-top: -100px;
		margin-left: 5rem;
		justify-content: space-between;
		align-items: center;

		@include respond(tab-port) { // width < 900?
			flex-direction: column;
			text-align: center;
			padding: 0;
			margin-top: 2rem !important;
			margin-left: 0 !important; 
		}
    }
	
    &__copyright{
        flex: 0 0 20%;
        text-align: left;
        margin-left: 5rem;

        @include respond(tab-port) { // width < 900?
            margin-left: 0;
            text-align: center;
            order: 3;
        }

    }

    &__social{
        flex: 0 0 50%;

        @include respond(tab-port) { // width < 900?
            margin-top: 5rem;
            margin-bottom: 5rem;
            order: 2;
        }
        .fab{
            color: $color-primary-pink;
            padding: 2rem;
            border-radius: 43px;
            background-color: $color-white;
            font-size: 2rem;
            margin-left: 1rem;
            width: 6rem;
            
            &:hover{
                color: $color-primary-blue;
                cursor: pointer;
            }
        }
    }

    &__links{
        flex: 0 0 20%;
        text-align: left;
        margin-right: 5rem;
        text-transform: uppercase;
        
        @include respond(tab-port) { // width < 900?
            text-align: center;
            margin-right: 0;
            order: 1;

        }
    }

    &__navigation{

        &__item{
            list-style: none;
        }
    }
}