.header{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 10rem;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 30;


    &__logo-box{
        position: absolute;
        left: 50px;

        z-index: 50;

        @include respond(tab-port) { // width < 900?
            left: 20px;
        }
    }

    &__logo{
        
    }
}

.header-scroll{
    background-color: $color-primary-purple;
}