.navigation{

    @include respond(tab-port) { // width < 900?
        visibility: hidden;
        opacity: 0;
    }

    &__nav{

    }

    &__list{
        display: flex;
        margin-right: 3rem;
    }

    &__item{
        margin: 1rem;
        list-style: none;
        &--language{
            margin: 1rem 0.3rem;
            position: absolute;
            right: 50px;
            &:not(:last-child){
                right: 80px;
            }

            @include respond(tab-port) { // width < 900?
                text-align: center;
                margin: 0;
                position: relative;
                right: 0;
                &:not(:last-child){
                    right: 0;
                }
            }
        }
    }

    &__link{
        position: relative;
        font-weight: 800;
        font-style: italic;

        &:link,
        &:visited {
            font-family: inherit;
            font-size: 1.6rem;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            color: $color-white;
            transition: all .5s;
        }

        &:hover,
        &:active {
            color: $color-primary-blue;
            &::after {
                opacity: 1;
                visibility: visible;
                width: 100%;
            }
        }

        &::after {
            content: "";
            height: 2px;
            width: 0;
            transition: all .5s;
            background: $color-primary-blue;
            position: absolute;
            bottom: 0;
            left: 0;
            opacity: 0;
            visibility: hidden;
        }
    }

    .active{
        color: $color-primary-blue;
    }
}