// COLORS
$color-primary-purple: #36005c;
$color-primary-blue: #06c0e1;
$color-primary-pink: #c02080;


// OTHER COLOS

$color-white: #fff;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;


// Random

$random-top: random(300) + px;