.feedback {
    color: rgba(0, 0, 0, 0.4);
    font-size: 0.8em;
    padding: 0 .25em;
    margin-top: 1em;
}

#password-strength-text {
    margin-top: -5px;
    margin-bottom: 1em;
}

#feedback-bubble {
    margin-top: 20px;
    position: relative;
    width: 100%;
    padding: 0em;
    background: #fff;
    padding: .5em .7em;
    border-bottom: #0096fa solid .2em;
    font-size: 1em;
}

#feedback-bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 15px 15px;
    border-color: #fff transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -15px;
    top: -15px;
    left: 15%;
}

.passtrengthMeter .showPassword {
    top: 7px !important;
    z-index: 10;
}

.padding0 {
    padding: 0 !important;
}

.fa-eye,
.fa-eye-slash {
    position: absolute;
    right: 10px;
    z-index: 10;
    top: 10px;
    font-size: 15px;
}

.box-body {
    .width100 {
        width: 100%;
    }

    table {
        tbody {
            tr {
                .text-center {
                    font-size: 14px;
                }

                td {
                    .fa-level-down {
                        color: #337ab7;
                    }

                    .right0 {
                        position: absolute;
                        right: 30px;
                    }

                    .expand {
                        margin-top: 15px;

                        .card-body {
                            a {
                                .red-square {
                                    background-color: #dd4b39;
                                    display: inline-block;
                                    padding: 6px 12px;
                                    margin-bottom: 0;
                                    font-size: 14px;
                                    font-weight: 400;
                                    line-height: 1.42857143;
                                    text-align: center;
                                    white-space: nowrap;
                                    vertical-align: middle;
                                    -ms-touch-action: manipulation;
                                    touch-action: manipulation;
                                    cursor: pointer;
                                    -webkit-user-select: none;
                                    -moz-user-select: none;
                                    -ms-user-select: none;
                                    user-select: none;
                                    background-image: none;
                                    border: 1px solid transparent;
                                    border-radius: 4px;
                                    color: white;
                                    border-radius: 3px;
                                    -webkit-box-shadow: none;
                                    box-shadow: none;
                                    border-color: #d73925;

                                    &:hover {
                                        background: #d73925;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.scroll {
    overflow-y: scroll;
    height: 500px;
}

.blue-square {
    background-color: #337ab7;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 1.42857143 !important;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: white;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #337ab7;

    &:hover {
        background: #367fa9;
    }
}

/* MULTIPLE TAB FORM  */
.hidden {
  display: none;
}

input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
}

.welcome-message {
  text-align: center;
  h1 {
    font-weight: 800;
  }
  p {
    font-weight: 700;
  }
}

.blk-btn {
  width: 460px;
  margin: 0 auto;
  display: block;
  line-height: 50px;
  border-radius: 5px;
  background: #2196F3;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  &:hover, &:focus {
    color: white;
    text-decoration: none;
    background: #1976D2;
  }
}

.tab-form-wrap {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  .nav-tabs {
    border-bottom: 1px solid #e0e0e0;
    background: #2196f3;
    color: white;
    li {
      width: 10%;
      height: 40px;
      line-height: 40px;
      color: #fafafa;
      overflow: hidden;
      margin: 0;
      border-right: 1px solid #e0e0e0;
      -webkit-transition: width .4s ease;
      -moz-transition: width .4s ease;
      -o-transition: width .4s ease;
      transition: width .4s ease;
      &:last-child {
        border-right: none;
      }
      &.active {
        width: 70%;
        background: white; 
        color: black; 
        
      }
      a {
        border: none;
        background: none;
        &:hover, &:focus {
          border: none;
          background: none;
        }
        &:hover, &:focus {
          color: inherit;
        }
        font-size: 14px;
        line-height: 20px;
        height: 40px;
        overflow: hidden;
        border-radius: 0;
        margin: 0;
        text-align: center;
        color: inherit;
        float: left;
        width: 100%;
      }
      &.active a {
        text-align: left;
        width: auto;
        font-weight: bold;
        border-right: none;

      }
    }
  }
  .tab-content {
    padding: 15px;
    fieldset {
      border: 1px solid #e0e0e0;
      padding: 8px 8px 0 8px;
      border-radius: 5px;
      margin-bottom: 15px;
      cursor: text;
      &.focus {
        border-color: #2196F3;
      }
      > * {
        cursor: text;
      }
      &.validation-error {
        border-color: #F44336;
        .input-label {
          color: #F44336;
        }
      }
      .input-label {
        display: block;
        font-size: 11px;
        line-height: 12px;
        font-weight: bold;
        text-transform: uppercase;
      }
      .input-clear {
        display: inline-block;
        width: 100%;
        font-size: 14px;
        line-height: 28px;
        border: none;
      }
    }
  }
}

/* 3a. Nav tabs */

    /*.tab-form-wrap .nav-tabs li a span.step-title {
    visibility: hidden;
    }

    .tab-form-wrap .nav-tabs li.active a span.step-title {
    visibility: visible;
    }*/

/* Tab panes */

/* Validation Styles */

.error-span {
  display: block;
  color: red;
  font-size: 11px;
  line-height: 12px;
  font-weight: bold;
  text-transform: uppercase;
  font-style: italic;
  width: 100%;
}

/* Custom dropdown */

.custom-dropdown {
  position: relative;
  vertical-align: middle;
  cursor: pointer !important;
  select, .input-label {
    cursor: pointer !important;
  }
  select {
    border: 0;
    margin: 0;
    border-radius: 3px;
    text-indent: 0.01px;
    text-overflow: '';
    -webkit-appearance: button;
    /* hide default arrow in chrome OSX */
  }
  &::before {
    content: "";
    position: absolute;
    pointer-events: none;
  }
  &::after {
    content: "";
    position: absolute;
    pointer-events: none;
    /*  Custom dropdown arrow */
    content: "\25BC";
    height: 1em;
    font-size: .625em;
    line-height: 1;
    right: 1.2em;
    top: 50%;
    margin-top: -.5em;
  }
  &::before {
    /*  Custom dropdown arrow cover */
    width: 2em;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 3px 3px 0;
    background-color: #e0e0e0;
  }
  &::after {
    color: #9e9e9e;
  }
}