@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes runLeftToRight {
    0% {
        left: -10%;
    }
    10%{
        left: 0%;
    }
    20%{
        left: 10%;
    }
    30%{
        left: 20%;
    }    
    40%{
        left: 30%;
    }
    50%{
        left: 40%;
    }
    60%{    
        left: 50%;
    }
    70%{
        left: 60%;
    }
    80%{
        left: 70%
    }
    90%{
        left: 80%;
    }
    100%{
        left: 100%;
        overflow: hidden;
        visibility: hidden;  
    }
}

@keyframes runRightToLeft {
    0% {
        right: -10%;
    }
    10%{
        right: 0;
    }
    20%{
        right: 10%;
    }
    30%{
        right: 20%;
    }    
    40%{
        right: 30%;
    }
    50%{
        right: 40%;
    }
    60%{    
        right: 50%;
    }
    70%{
        right: 60%;
    }
    80%{
        right: 70%
    }
    90%{
        right: 80%;
    }
    100%{
        right: 100%;
        overflow: hidden;
        visibility: hidden;  
    }
}