body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    font-weight: 800;
    font-style: italic;
    position: relative;
    z-index: 20;

    &--main {
        display: block;
        font-size: 8rem;

        @include respond(tab-port) { // width < 900?
            font-size: 6rem;
        }

        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }
    
    &--sub {
        display: block;
        font-size: 2rem;
        animation: moveInRight 1s ease-out;

        &-1{
            color: $color-primary-blue;
        }
    }
}

.heading-secondary {
    color: $color-white;
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: 800;
    font-style: italic;

    &--purple{
        color: $color-primary-purple;
    }
}

.heading-big{
    font-size: 8rem;
    @include respond(tab-port) { // width < 900?
        font-size: 4.5rem;
    }
}

.heading-purple{
    color: $color-primary-purple;
}

.heading-tertiary {
    color: $color-white;
    text-transform: uppercase;
    font-weight: 800;
    font-style: italic;

    &--main {
        display: block;
        font-size: 2rem;
    }
    
    &--sub {
        display: block;
        font-size: 2rem;
    }

    &--blue{
        font-style: initial;
        font-size: 2rem;
    }
}

.paragraph{
    color: $color-white;
    font-size: 1.7rem;
    font-weight: 400;
    
    position: relative;
    z-index: 20;


    &--home{
        font-size: 1.8rem;
    }

    @include respond(tab-port) { // width < 900?
        z-index: 10;
    }
}

.footer__navigation__link{
    color: $color-white;
    font-size: 1.5rem;
    font-weight: 800;
    text-decoration: none;

    &:hover{
        color: $color-primary-blue;
    }
}

.footer__copyright--text{
    font-size: 1.5rem;
}


.press__text{
    color: $color-white;
    text-transform: uppercase;
    font-weight: 800;
    font-style: italic;
    font-size: 1.6rem;
}

.artist__description{
    color: $color-white !important;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
}