.u-center-text { text-align: center !important; }

.u-margin-bottom-small { margin-bottom: 1.5rem !important; }
.u-margin-bottom-medium {
    margin-bottom: 4rem !important;

    @include respond(tab-port) {
        margin-bottom: 3rem !important;
    }
}

.u-margin-bottom-big { 
    margin-bottom: 8rem !important;

    @include respond(tab-port) {
        margin-bottom: 5rem !important;
    }
}

.u-margin-top-small--mobile { 
    margin-top: 8rem !important; 
    @include respond(tab-port) {
        margin-top: 0 !important; 
    }
}
.u-margin-top-small { margin-top: 2rem !important; }

.u-margin-top-medium { margin-top: 4rem !important; }
.u-margin-top-big { margin-top: 8rem !important; }
.u-margin-top-huge { margin-top: 10rem !important; }

.u-padding-top-huge { padding-top: 10rem !important; }
.u-padding-bottom-big { padding-bottom: 8rem !important; }

.no_decoration{ text-decoration: none;}